.page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "logo searchBar profile"
    "sideMenu pageContent pageContent";
  grid-template-columns: 4em 1fr auto;
  grid-template-rows: 5em 1fr;
}

.logo {
  grid-area: logo;
}

.sideMenu {
  grid-area: sideMenu;
}

.searchBar {
  grid-area: searchBar;
}

.profile {
  grid-area: profile;
}

.pageContent {
  grid-area: pageContent;
  overflow: auto;
}
