.page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "logo header"
    "logo pageContent"
    "sidebar pageContent";
  grid-template-columns: auto 1fr;
  grid-template-rows: 4em 8em 1fr;
}

.logo {
  grid-area: logo;
  height: 100%;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.pageContent {
  grid-area: pageContent;
  overflow: auto;

  /*background-color: #cdedff;*/
  /*background-color: #ffd5d1;*/

}
