.page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "logo categories"
    "pageContent pageContent";
  grid-template-columns: 4em 1fr;
  grid-template-rows: 5em 1fr;
}

.logo {
  grid-area: logo;
}

.categories {
  grid-area: categories;
}

.pageContent {
  grid-area: pageContent;
  overflow: auto;
}
